.adding__paragraph {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

@media (max-width: 500px) {
    .adding__paragraph {
        display: flex;
        flex-direction: column;
    }
}

.adding__input {
    flex-grow: 14;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(240, 240, 240);
    color: rgb(80, 80, 80);
}

.adding__button {
    flex-grow: 1;
    background-color: teal;
    color: white;
    border-style: none;
    margin: 10px;
    padding: 5px;
    transition: 1s;
}

.adding__button:hover {
    transform: scale(1.15);
}