.list__tasks {
    margin: 10px;
    padding-left: 0;
}

.list__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 10px;
    line-height: 2;
}

.list__item--done {
    text-decoration: line-through
}

.list__item--hidden {
    display: none;
}

.list__item--span {
    margin-right: auto;
    margin: 10px;
    text-align: start;
    flex-basis: 100%;
}

.list__itemButton {
    background-color: green;
    color: white;
    border: none;
    min-width: 32px;
    height: 32px;
    transition: background-color 0.5s ease;
    align-items: center;
}

.list__itemButton:hover {
    background-color: rgb(22, 207, 22);
}

.list__itemButton:active {
    background-color: rgb(169, 252, 169);
}

.list__itemButton--delete {
    background-color: red;
    align-items: center;
}

.list__itemButton--delete:hover {
    background-color: rgb(255, 107, 107);
}

.list__itemButton--delete:active {
    background-color: rgb(248, 171, 171);
}