html {
  box-sizing: border-box;
  font-family: 'Montserrat',
    sans-serif;
  background-color: rgb(240, 240, 240);
}

*,
::after,
::before {
  box-sizing: inherit
}

.body {
  word-break: break-word;
  margin: 7px
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}