.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 500px) {
    .buttons {
        flex-direction: column;
        padding-top: 20px;
    }
}

.buttons__header {
    border: none;
    background-color: transparent;
    color: teal;
    font-size: 0.9rem;
    transition: color 0.5s ease;

}

@media (max-width: 500px) {
    .list__headerButton {
        margin: 10px;
    }
}

.buttons__header:hover {
    color: rgb(7, 182, 182);
}

.buttons__header:disabled {
    color: rgb(107, 107, 107);
}